@import '../../styles/variables.scss';

.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;

    svg {
        width: 119px;
        height: 119px;
    }
}

.bottom__block {
    .this__time,
    .this__city {
      color: $base-color;
      font-size: 25px;
    }
  }

.this {

    
    &__day {
        max-width: 400px;
        padding: 20px;
        width: 100%;
        background: var(#{--components-background-default});
        box-shadow: $box-shadow;
        border-radius: $border-radius;

        &_name {
            font-size: 40px;
            line-height: 47px;
            color: var(#{--text-color-default});
        }
    }

    &__temp {
        font-size: 96px;
        line-height: 118px;
        color: $primary-color;
        font-weight: 500;
    }

    &__time {
        margin-bottom: 14px;
    }
    
}